<%= current_user.name %>

<div id = "tag_list">
  <%= render 'static_pages/partials/tag_list' %>
</div>

<div>
  <%= render 'static_pages/partials/map' %>
</div>

<div>
  <%= render 'static_pages/partials/nearby_users_list' %>
</div>

<div>
  <%= render 'messages/messages' %>
</div>

<div id = 'users_show'>
</div>

