<ul>
<% broadcasts.each do |broadcast| %>
  <%= render 'broadcasts/single_broadcast', :broadcast => broadcast %>
<% end %>
</ul>
<%= less_button(page) %>
<%= more_button(page, broadcasts) %>

<div id = 'send_broadcast'>
  <%= form_tag broadcasts_url, :remote => true do %>
    <%= text_area_tag "broadcast[message]" %>
    <%= submit_tag "Broadcast Message ", :class => 'button' %>
  <% end %>
</div>
