<ul>
  <% if page.to_i > 0 %>
    <%= link_to 'less', broadcasts_url({:page => page.to_i-1}), :remote => true, :class => 'arrow' %>
  <% end %>
    <%= link_to 'more', broadcasts_url({:page => page.to_i+1}), :remote => true, :class => 'arrow'%>
<% broadcasts.each do |broadcast| %>
  <%= render 'broadcasts/single_broadcast', :broadcast => broadcast %>
  </li>
<% end %>
</ul>

<div id = 'send_broadcast'>
  <%= form_tag broadcasts_url, :remote => true do %>
    <%= text_area_tag "broadcast[message]" %>
    <%= submit_tag "Broadcast Message ", :class => 'button' %>
  <% end %>
</div>
